.nav__container {
  position: absolute;
  left: 10px;

  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 100px;
  border-radius: 15px;
}

.nav__container:first-child a {
  margin-right: 10px;
}
